<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>Mise à jour utilisateur</title>
    {% endblock %}
</head>
<body>
    {% block content %}
    <form action="http://127.0.0.1:5000/update_user_t/" method="post"> 
        <input type="hidden" name="id" value="{{data.get('id')}}" >
        <label> nom de l'utilisateur : 
            <input type="text" name="nom" value="{{data.get('nom')}}">
        </label><br/><br/>
        <label> prenom de l'utilisateur : 
            <input type="text" name="prenom" value="{{data.get('prenom')}}">
        </label><br/><br/>
        <input type="submit" value="Envoyer">
    </form>
    <br/>
    <a href="http://127.0.0.1:5000/"> retour à la page précdente</a>
    {% endblock %}
</body>
</html>